libSparkFHE/*.zip
spiritlab/sparkfhe/dist/*.zip
spiritlab/sparkfhe/dist/*.tgz
spiritlab/sparkfhe/dist/*.tar.gz
spiritlab/sparkfhe/sparkfhe-examples
spiritlab/sparkfhe/sparkfhe-api
TestDrive.bash
spiritlab/sparkfhe/spark-fhe_2.12/maven-metadata.xml
spiritlab/sparkfhe/spark-fhe_2.12/maven-metadata.xml.md5
spiritlab/sparkfhe/spark-fhe_2.12/maven-metadata.xml.sha1
spiritlab/sparkfhe/spark-fhe_2.12/2.0-SNAPSHOT/maven-metadata.xml
spiritlab/sparkfhe/spark-fhe_2.12/2.0-SNAPSHOT/maven-metadata.xml.md5
spiritlab/sparkfhe/spark-fhe_2.12/2.0-SNAPSHOT/maven-metadata.xml.sha1
spiritlab/sparkfhe/spark-fhe_2.12/2.0-SNAPSHOT/spark-fhe_2.12-2.0-20200616.194907-1-jar-with-dependencies.jar
spiritlab/sparkfhe/spark-fhe_2.12/2.0-SNAPSHOT/spark-fhe_2.12-2.0-20200616.194907-1-jar-with-dependencies.jar.md5
spiritlab/sparkfhe/spark-fhe_2.12/2.0-SNAPSHOT/spark-fhe_2.12-2.0-20200616.194907-1-jar-with-dependencies.jar.sha1
spiritlab/sparkfhe/spark-fhe_2.12/2.0-SNAPSHOT/spark-fhe_2.12-2.0-20200616.194907-1.jar
spiritlab/sparkfhe/spark-fhe_2.12/2.0-SNAPSHOT/spark-fhe_2.12-2.0-20200616.194907-1.jar.md5
spiritlab/sparkfhe/spark-fhe_2.12/2.0-SNAPSHOT/spark-fhe_2.12-2.0-20200616.194907-1.jar.sha1
spiritlab/sparkfhe/spark-fhe_2.12/2.0-SNAPSHOT/spark-fhe_2.12-2.0-20200616.194907-1.pom
spiritlab/sparkfhe/spark-fhe_2.12/2.0-SNAPSHOT/spark-fhe_2.12-2.0-20200616.194907-1.pom.md5
spiritlab/sparkfhe/spark-fhe_2.12/2.0-SNAPSHOT/spark-fhe_2.12-2.0-20200616.194907-1.pom.sha1
